<!--TODO: Dinamicamente obter o id da pagina -->
<form id="editar-post">
	<section>
		<legend> Edit Form</legend>
		<label for="autor"> Autor</label>
		<input type="text" [(ngModel)]="autor" name="autor">

		<label for="autor">Titulo</label>
		<input type="text" [(ngModel)]='titulo'name="titulo">

		<simplemde [(ngModel)]='conteudo' [ngModelOptions]="{standalone: true}"></simplemde>

		<label for="autor"> tags</label>
		<input type="text" [(ngModel)]='tags' name="tags">

		<button (click)='sendEditForm()'>Teste HTTP de edição</button>
	</section>
	</form>
	<br>
	<div class="card">
		<div class="card-body">
			<h3 class="card-title"> {{titulo}} </h3>
			<hr>
			<div markdown [data]="conteudo" class="card-content"></div>
		</div>
	</div>
