<main class="card">
<div class="card-body">
<h1 class="card-title">
  home-module works!
</h1>
<h2 class="card-subtitle mb-2 text-muted"> Holy shit it does</h2>
<hr>
<div class="card-text">
	<p>
		Lorem ipsum dolor sit amet, erat senserit pri ex, paulo viris et eum, est copiosae petentium eu. Eam facilis probatus ut, sea dicat graece ut. Ad solet nusquam postulant nec, diam maluisset mei id. Ferri aliquam his in. Suscipit recteque eu per. Quo te possim voluptua, eros scripserit at sea, at mea oratio dicant.
		<br>
Feugiat postulant neglegentur an per, id aeque contentiones per. Usu vulputate instructior id, summo iisque minimum in mei, sea no insolens corrumpit instructior. Eam veri inani at. Te nulla exerci vim.
<br>
In sed justo graece honestatis, eu mandamus assueverit pro. Cu zril referrentur ius, nostrum fastidii tacimates quo ea. Posse suscipit dissentias mea ne, no latine dolorum posidonium sit. Mea ea omnis repudiare.
<br>
Elitr aperiri voluptaria eum an, nec veritus accommodare ad. Mei te alii homero adipiscing. His at vidit oblique facilis, ei feugiat officiis sit. Nam id cetero eleifend volutpat, pro possim doctus legimus an. Sea eu nisl percipitur mediocritatem, velit quaerendum eu per. Ea equidem sadipscing interpretaris eos, eu facilis delicata similique sed.
<br>
Per id iriure atomorum inciderint, ad ludus maiorum est, sed et inimicus dignissim. At his nusquam omnesque accusata, in nec sale ponderum. Ea has corpora repudiare incorrupte, sit hinc noster nostro eu, mel at pericula erroribus appellantur. Tation reprimique quo ex, his ludus appetere tacimates no.
<br>
Verterem phaedrum abhorreant eum ea, lorem debitis corrumpit cu usu, nisl tamquam consequuntur ea sea. Magna dissentiet vel ad, cum ex nobis feugiat pertinax. Luptatum vituperata dissentiet ut has, facer democritum definiebas eum ad, ut euripidis adversarium qui. Nec ex suas labitur, at falli mentitum consetetur pri. Eos et dicat dolor consequat.
<br>
Aliquip fierent ut per. Qui et expetendis quaerendum, ea copiosae quaestio mei. Eos novum eirmod ex. Sed choro expetenda ne, per in dolore scripta habemus, mel oratio voluptaria ex. Mel ex admodum theophrastus necessitatibus, eu consul audire erroribus usu. Putent appellantur an vel.
<br>
Usu eu dico populo consequat, ei summo urbanitas est. Minim tibique ei cum, doming vivendo omittantur sit an. At velit laoreet cotidieque ius. Ea per odio erat solet, te malis nulla voluptatum mei, ad duo ipsum accusata. Sint movet an nam, ad doming omnesque omittantur pro.
<br>
Suas altera oporteat vis ei. An usu sententiae repudiandae. Et eum harum sapientem deterruisset, vel debet nusquam praesent an, quo ex wisi scripserit. An everti ponderum gloriatur sea, ut mea oblique utroque minimum. Eos solet dicant ea. Suscipit sensibus philosophia ei pro, consul oportere has et. Molestie salutatus ne has.
<br>
Case doming et vel. Ancillae iracundia dissentiet sed id, atqui nonumy iracundia in pri. Vim saperet albucius torquatos at, dicant noster in eam. Te tempor efficiendi cum, vis id dicit omittam consulatu.
	</p>
</div>
</div>
</main>
