/* Folha de estilos para o layout principal do blog */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* 1) Layout full */
@media (min-width: 768px) {

	app-header{
	width:100vw;
	height: 10em;
	display:block;
	}

	#conteudos{
		padding-top:1em;
	}	


}
