/* You can add global styles to this file, and also import other style files */
@import './assets/bootstrap-4.2.1/css/bootstrap.css';

	.card-title, .card > small{
		padding:0.4em;
	}

	.card  img{
		max-width:100%;
		margin-left:auto;
		margin-right:auto;
	}
